 [[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
prettyconf = "*"
django-filter = "*"
whitenoise = "*"
gunicorn = {extras = ["gevent"], version = "*"}
greenlet = "*"
psycogreen = "*"
gevent = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-extra-fields = "*"
django-cors-headers = "*"
newrelic = "*"
sentry-sdk = "*"
django-admin-honeypot = "*"
celery = {extras = ["auth", "librabbitmq", "msgpack", "redis"], version = "*"}
pymongo = {extras = ["gssapi", "snappy", "srv", "tls"], version = "*"}
dnspython = "*"
django-celery-beat = "*"
django-celery-results = "*"

[dev-packages]
pytest = "*"
django-test-migrations = "*"
scanapi = "*"
pre-commit = "*"
commitizen = "*"
flake8 = "*"
codecov = "*"
flake8-django = "*"
pytest-django = "*"
autopep8 = "*"
pytest-drf = "*"
pytest-cov = "*"
pycodestyle = "*"
safety = "*"
isort = "*"

[requires]
python_version = "3.8"
