[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
prettyconf = "*"
django-filter = "*"
whitenoise = "*"
gunicorn = {extras = ["gevent"], version = "*"}
greenlet = "*"
psycogreen = "*"
gevent = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-extra-fields = "*"
pytest = "*"
flake8-django = "*"
pytest-django = "*"
django-cors-headers = "*"
scanapi = "*"
newrelic = "*"
sentry-sdk = "*"

[dev-packages]
pre-commit = "*"
commitizen = "*"
flake8 = "*"
codecov = "*"
flake8-django = "*"
faker = "*"
pytest-django = "*"
autopep8 = "*"
scanapi = "*"

[requires]
python_version = "3.8"
